/**
 * Allergens for Woocommerce CSS
 * Plugin URI:  https://13node.com/informatica/wordpress/allergens-for-woocommerce/
 * Version: 1.3
 * Author: Danilo Ulloa
 * Author URI: https://13node.com
 */

/* Accessibility - Screen Reader Only Text */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

/* Grid System */
.allergens_container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .allergens_row {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .allergens_row [class^="colu"] {
    float: left;
    margin: 0.5rem 2%;
    min-height: 0.125rem;
    text-align: center;
  }
  
  .colu-1,
  .colu-2,
  .colu-3,
  .colu-4,
  .colu-5,
  .colu-6,
  .colu-7,
  .colu-8,
  .colu-9,
  .colu-10,
  .colu-11,
  .colu-12 {
    width: 25%;
  }
  
  .colu-1-sm {
    width: 4.33%;
  }
  
  .colu-2-sm {
    width: 12.66%;
  }
  
  .colu-3-sm {
    width: 21%;
  }
  
  .colu-4-sm {
    width: 29.33%;
  }
  
  .colu-5-sm {
    width: 37.66%;
  }
  
  .colu-6-sm {
    width: 46%;
  }
  
  .colu-7-sm {
    width: 54.33%;
  }
  
  .colu-8-sm {
    width: 62.66%;
  }
  
  .colu-9-sm {
    width: 71%;
  }
  
  .colu-10-sm {
    width: 79.33%;
  }
  
  .colu-11-sm {
    width: 87.66%;
  }
  
  .colu-12-sm {
    width: 96%;
  }
  
  .allergens_row::after {
      content: "";
      display: table;
      clear: both;
  }
  
  .hidden-sm {
    display: none;
  }
  
  @media only screen and (min-width: 33.75em) {  /* 540px */
    .allergens_container {
      width: 80%;
    }
  }
  
  @media only screen and (min-width: 45em) {  /* 720px */
    .colu-1 {
      width: 4.33%;
    }
  
    .colu-2 {
      width: 12.66%;
    }
  
    .colu-3 {
      width: 21%;
    }
  
    .colu-4 {
      width: 29.33%;
    }
  
    .colu-5 {
      width: 37.66%;
    }
  
    .colu-6 {
      width: 46%;
    }
  
    .colu-7 {
      width: 54.33%;
    }
  
    .colu-8 {
      width: 62.66%;
    }
  
    .colu-9 {
      width: 71%;
    }
  
    .colu-10 {
      width: 79.33%;
    }
  
    .colu-11 {
      width: 87.66%;
    }
  
    .colu-12 {
      width: 96%;
    }
  
    .hidden-sm {
      display: block;
    }
  }
  
  @media only screen and (min-width: 60em) { /* 960px */
    .allergens_container {
      width: 100%;
      max-width: 60rem;
    }
  }
  